In [1]:
tupleA=((11,12),[21,25])
tupleA

((11, 12), [21, 25])

In [5]:
V_set2=('A','B')
V_set2

('A', 'B')

## Conditions and Branching

#### Comparison Operators

Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

* equal: ==
* not equal: !=
* greater than: >
* less than: <
* greater than or equal to: >=
* less than or equal to: <=

Let's assign  a  a value of 5. Use the equality operator denoted with two equal == signs to determine if two values are equal. The case below compares the variable a with 6.

In [1]:
# Condition Equal

a = 5
a == 6

False

The result is False, as 5 does not equal to 6.

Consider the following equality comparison operator: i > 5. If the value of the left operand, in this case the variable i, is greater than the value of the right operand, in this case 5, then the statement is True. Otherwise, the statement is False. If i is equal to 6, because 6 is larger than 5, the output is True.

In [2]:
# Greater than Sign

i = 6
i > 5

True

In [3]:
i = 2
i > 5

False

Set i = 2. The statement is False as 2 is not greater than 5:

Let's display some values for i in the figure. Set the values greater than 5 in green and the rest in red. The green region represents where the condition is True, the red where the statement is False. If the value of i is 2, we get False as the 2 falls in the red region. Similarly, if the value for i is 6 we get a True as the condition falls in the green region.

The inequality test uses an exclamation mark preceding the equal sign, if two operands are not equal then the condition becomes True. For example, the following condition will produce True as long as the value of i is not equal to 6:

In [4]:
# Inequality Sign

i = 2
i != 6

True

When i equals 6 the inequality expression produces False.

In [5]:
# Inequality Sign

i = 6
i != 6

False

See the number line below. When the condition is **True**, the corresponding numbers are marked in green and for where the condition is **False** the corresponding number is marked in red.  If we set <code>i</code> equal to 2 the operator is true, since 2 is in the green region. If we set <code>i</code> equal to 6, we get a **False**, since the condition falls in the red region.

We can apply the same methods on **strings**. For example, we can use an equality operator on two different strings. As the strings are not equal, we get a False.

In [6]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

If we use the inequality operator, the output is going to be True as the strings are not equal.

In [7]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:

The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:

# |Char| |ASCII| |Char| |ASCII| |Char| |ASCII| |Char| |ASCII| 
|....| |....| |....| |....| |....| |....| |....| |....| 

|A|	|65| |N| |78| |a| |97| |n| |110|

For example, the ASCII code for ! is 33, while the ASCII code for + is 43. Therefore + is larger than ! as 43 is greater than 33.

Similarly, from the table above we see that the value for A is 65, and the value for B is 66, therefore:

In [2]:
# Compare characterWhen there are multiple letters, the first letter takes precedence in ordering:s

'B' > 'A'

True

In [3]:
# Compare characters;'BA' > 'AB' When there are multiple letters, the first letter takes precedence in ordering:

'BA' > 'AB'

True

**Note:** Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in Python is case-sensitive.

##### Branching

Branching allows us to run different statements for different inputs. It is helpful to think of an if statement as a locked room, if the statement is True we can enter the room and your program will run some predefined tasks, but if the statement is False the program will ignore the task.

For example, consider the blue rectangle representing an ACDC concert. If the individual is older than 18, they can enter the ACDC concert. If they are 18 or younger, they cannot enter the concert.

We can use the condition statements learned before as the conditions that need to be checked in the if statement. The syntax is as simple as  if condition statement :, which contains a word if, any condition statement, and a colon at the end. Start your tasks which need to be executed under this condition in a new line with an indent. The lines of code after the colon and with an indent will only be executed when the if statement is True. The tasks will end when the line of code does not contain the indent.

In the case below, the code print(“you can enter”) is executed only if the variable age is greater than 18 is a True case because this line of code has the indent. However, the execution of print(“move on”) will not be influenced by the if statement.

In [4]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

Try uncommenting the age variable

It is helpful to use the following diagram to illustrate the process. On the left side, we see what happens when the condition is True. The person enters the ACDC concert representing the code in the indent being executed; they then move on. On the right side, we see what happens when the condition is False; the person is not granted access, and the person moves on. In this case, the segment of code in the indent does not run, but the rest of the statements are run.

Diagram here

The else statement runs a block of code if none of the conditions are True before this else statement. Let's use the ACDC concert analogy again. If the user is 17 they cannot go to the ACDC concert, but they can go to the Meatloaf concert. The syntax of the else statement is similar as the syntax of the if statement, as else :. Notice that, there is no condition statement for else. Try changing the values of age to see what happens:

In [5]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

The process is demonstrated below, where each of the possibilities is illustrated on each side of the image. On the left is the case where the age is 17, we set the variable age to 17, and this corresponds to the individual attending the Meatloaf concert. The right portion shows what happens when the individual is over 18, in this case 19, and the individual is granted access to the concert.

Diagram here

The elif statement, short for else if, allows us to check additional conditions if the condition statements before it are False. If the condition for the elif statement is True, the alternate expressions will be run. Consider the concert example, where if the individual is 18 they will go to the Pink Floyd concert instead of attending the ACDC or Meat-loaf concert. A person that is 18 years of age enters the area, and as they are not older than 18 they can not see ACDC, but since they are 18 years of age, they attend Pink Floyd. After seeing Pink Floyd, they move on. The syntax of the elif statement is similar in that we merely change the if in the if statement to elif.

In [6]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

Diagram here

In [11]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

Feel free to change album_year value to other values -- you'll see that the result changes!

Notice that the code in the above indented block will only be executed if the results are True.

As before, we can add an else block to the if block. The code in the else block will only be executed if the result is False.

Syntax:

if (condition): # do something else: # do something else

If the condition in the if statement is False, the statement after the else block will execute. This is demonstrated in the figure:

In [13]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

Feel free to change the album_year value to other values -- you'll see that the result changes based on it!

##### Logical operators

Sometimes you want to check more than one condition at once. For example, you might want to check if one condition and another condition are both True. Logical operators allow you to combine or modify conditions.

and
or
not
These operators are summarized for two variables using the following truth tables:

Diagram here

The and statement is only True when both conditions are true. The or statement is True if one condition, or both are True. The not statement outputs the opposite truth value.

Let's see how to determine if an album was released after 1979 (1979 is not included) and before 1990 (1990 is not included). The time periods between 1980 and 1989 satisfy this condition. This is demonstrated in the figure below. The green on lines a and b represents periods where the statement is True. The green on line c represents where both conditions are True, this corresponds to where the green regions overlap.

Diagram here

The block of code to perform this check is given by:

In [14]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

To determine if an album was released before 1980 (1979 and earlier) or after 1989 (1990 and onward ), an or statement can be used. Periods before 1980 (1979 and earlier) or after 1989 (1990 and onward) satisfy this condition. This is demonstrated in the following figure, the color green in a and b represents periods where the statement is true. The color green in c represents where at least one of the conditions are true.

Diagram here

The block of code to perform this check is given by:

In [15]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

The not statement checks if the statement is false:

In [16]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [17]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [18]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [19]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

In [28]:
# What is the outcome of the following? 1=2
1=2

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1758230620.py, line 2)

“SyntaxError: can't assign to literal” error occurs when you try to assign a value to a literal value such as a boolean, a string, a list, or a number. To solve this error, ensure your variable names are names rather than values.

In [29]:
# What is the output of the following code segment?

i=6

i<5

False

In [32]:
# True or False. The equality operator is case-sensitive in the following code segment. The operator is case sensitive hence true

'a'=='A'

False

Which of the following best describes the purpose of ‘elif’ statement in a conditional structure?
It defines the condition in case the preceding conditions in the if statement are not fulfilled.

## Loops

In [2]:
colors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
colors

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [4]:
# for color in colors, print(color)

print('red')

red

Here is how you might use a for loop to count from 1 to 10. Here, the range(1, 11) generates a sequence from 1 to 10, and the for loop goes through each number in that sequence, printing it out. It's like taking 10 steps, and you're guided by the loop!

In [7]:
# for number in range(1, 11):
Numbers=["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"]
Numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']

In [14]:
print(Numbers[3:8])

['4', '5', '6', '7', '8']

In [18]:
print(Numbers[:8])

['1', '2', '3', '4', '5', '6', '7', '8']

* The range function in Python generates an ordered sequence that can be used in loops. It takes one or two arguments:
* If given one argument (e.g., range(11)), it generates a sequence starting from 0 up to (but not including) the given number.
  for number in range(11):
    print(number)
* If given two arguments (e.g., range(1, 11)), it generates a sequence starting from the first argument up to (but not including) the second argument
    for number in range(1, 11):
    print(number).

**The Enumerated For Loop.**
Have you ever needed to keep track of both the item and its position in a list? An enumerated for loop comes to your rescue. It's like having a personal assistant who not only hands you the item but also tells you where to find it.

In [19]:
fruits = ["apple", "banana", "orange"]
fruits

['apple', 'banana', 'orange']

In [21]:
print(f"At position {2}, I found a {fruits}")

At position 2, I found a ['apple', 'banana', 'orange']

**While loops** are like a sleepless night at a friend's sleepover. Imagine you and your friends keep telling ghost stories until someone decides it's time to sleep. As long as no one says, "Let's sleep" you keep telling stories.
A while loop works similarly - it repeats a task as long as a certain condition is true. It's like saying, "Hey computer, keep doing this until I say stop!"

While condition:
 * Code to be executed while the condition is true
 * Indentation is crucial to indicate the scope of the loop

Here's how you might use a while loop to count from 1 to 10:
 * count = 1
while count <= 10:
    print(count)
    count += 1
* here's a breakdown of the above code:
* 
There is a variable named count initialized with the value 
* 

The while loop is used to repeatedly execute a block of code as long as a given condition is True. In this case, the condition is count <= 10, meaning the loop will continue as long as count is less than or equal to * 0.ide the loop:    oop:

The print(count) statement outputs the current value of the count v
  iable.

The count += 1 statement increments the value of count by 1. This step ensures that the loop will eventually terminate when count becomes greater* than 10.

The loop will continue executing as long as the condition count <= 10 is* satisfied.

The loop will print the numbers 1 to 10 in consecutive order since the print statement is inside the loop block and executed during ea* h iteration.

Once count reaches 11, the condition count <= 10 will evaluate to False, and the loop * ill terminate.

The output of the code will be the numbers 1 to 10, each printed on a separate line.

The Loop Flow:
*Both for and while loops have their special moves, but they follow a pattern: 
 * Initialization: You set up things like a starting point or conditions.
 * Condition: You decide when the loop should keep going and when it should stop.
 * Execution: You do the task inside the loop.
 * Update: You make changes to your starting point or conditions to move forward.
 * Repeat: The loop goes back to step 2 until the condition is no longer true.

When to Use Each:
* **For Loops**: Use for loops when you know the number of iterations in advance and want to process each element in a sequence. They are best suited for iterating over collections and sequences where the length is known.

* **While Loops**: Use while loops when you need to perform a task repeatedly as long as a certain condition holds true. While loops are particularly useful for situations where the number of iterations is uncertain or where you're waiting for a specific condition to be met.

## Loops-Part 2

**Range**

* Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by loops. We will look at two types of loops, for loops and while loops.
* Before we discuss loops lets discuss the range object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate an object that contains elements ordered from 0 to 2 we simply use the following command:

In [28]:
# Use the range
range(3)

range(0, 3)

What is **for loop**?
The for loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.
Let's try to use a for loop to print all the years presented in the list dates

In [29]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

The code in the indent is executed N times, each time the value of i is increased by 1 for every execution. The statement executed is to print out the value in the list at index i as shown here:

In this example we can print out a sequence of numbers from 0 to 7

In [30]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [38]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

We can access the index and the elements of a list as follows

In [39]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

What is **while loop**?

As you can see, the **for loop** is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The **while loop** exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

Here's how a while loop works: 
* First, you specify a condition that the loop will check before each iteration (repetition) of the code block.
* If the condition is initially true, the code block is executed.
* After executing the code block, the condition is checked again.
* If the condition is still true, the code block is executed again.
* Steps 3 and 4 repeat until the condition becomes false.
* Once the condition becomes false, the loop stops, and the program continues with the next line of code after the loop.

Here's an example of a while loop that prints numbers from 1 to 5

In [40]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In this example, the condition count <= 5 is checked before each iteration. As long as count is less than or equal to 5, the code block inside the loop is executed. After each iteration, the value of count is incremented by 1 using count += 1. Once count reaches 6, the condition becomes false, and the loop stops.

Let’s say we would like to iterate through list dates and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

In [41]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

A while loop iterates merely until the condition in the argument is not met, as shown in the following figure:

**The main difference between a while loop and a for loop in Python is how they control the flow of execution and handle iterations.**

**Key points of For Loop**
1. A for loop iterates over a sequence (such as a list, string, or range) or any object that supports iteration.
2. It has a predefined number of iterations based on the length of the sequence or the number of items to iterate over.
3. It automatically handles the iteration and does not require maintaining a separate variable for tracking the iteration count.
4. It simplifies the code by encapsulating the iteration logic within the loop itself.
5. It is commonly used when you know the exact number of iterations or need to iterate over each item in a collection.

**Key points of While Loop**
1. A while loop repeatedly executes a block of code as long as a given condition is true.
2. It does not have a fixed number of iterations but continues executing until the condition becomes false
3. he condition is checked before each iteration, and if it's false initially, the code block is skipped entirely
4. The condition is typically based on a variable or expression that can change during the execution of the loop
5. It provides more flexibility in terms of controlling the loop's execution based on dynamic conditions.s.

In [42]:
# Write a for loop that prints out all the element between -5 and 5 using the range function.
for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

In [43]:
# Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [45]:
# Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

In [46]:
# Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
while(i < len(PlayListRatings) and rating >= 6):
    print(rating)
    i = i + 1 
    rating = PlayListRatings[i]

10
9.5
10
8
7.5

In [54]:
# Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

In [52]:
# Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop. 
# hint, Write two for loops. One to print the multiplication table of 6 and the other for 7

print("Multiplication table of 6:")
for i in range (10):
    print("6*",i,"=",6*i)
print("Multiplication table of 7:")
for i in range (10):
    print("7*",i,"=",7*i)

Multiplication table of 6:
6* 0 = 0
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
Multiplication table of 7:
7* 0 = 0
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63

In [53]:
# The following is a list of animals in a National Zoo. Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
# Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a while loop and create a separate list of such animals.
# hint:Use while loop to iterate over the elements of the list. Use if-else statement inside the for loop to check the length of each element and if the length is 7, add the element to a new list.
    
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
    i=i+1
print(New)

['giraffe', 'gorilla', 'parrots']

In [55]:
for x in range(0, 3):
    print(x)

0
1
2

In [56]:
for x in ['A', 'B', 'C']:
    print(x + 'A')

AA
BA
CA

In [57]:
for i, x in enumerate(['A', 'B', 'C']):
    print(i, x)

0 A
1 B
2 C

In [58]:
# What does the following function return?
len(['A','B',1])

3

In [60]:
# What does the following function return? 
len([sum([1,1,1])])

1

In [64]:
# After executing the following code segment, what will be the value of list L?

L=[1,3,2]
sorted_L=sorted(L)
sorted_L

[1, 2, 3]

In [67]:
L=[1,3,2]
L.sort()
L

[1, 2, 3]

In [62]:
# What result does the following code produce?
def print_function(A):
    for a in A:
        print(a + '1')
print_function(['a', 'b', 'c'])

a1
b1
c1

## Functions in Python

A function is a reusable block of code which performs operations specified in the function. They let you break down tasks and allow you to reuse your code in different programs. 

There are two types of functions:
* Pre-defined functions
* User defined functions

What is a Function?

You can define functions to provide the required functionality. Here are simple rules to define a function in Python: 

* Functions blocks begin with def (define) followed by the function name and parentheses ().
* There are input parameters or arguments that should be placed within these parentheses.
* You can also define parameters inside these parentheses.
* There is a body within every function that starts with a colon (:) and is indented.
* You can also place documentation before the body.
* The statement return exits a function, optionally passing back a value.

An example of a function that adds on to the parameter a prints and returns the output as b

In [68]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [ ]:
The figure below illustrates the terminology:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsDefinition.png" width="500">

We can obtain help about a function:

In [74]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

We can call the function:

In [75]:
# Call the function add()

add(1)

1 if you add one 2

2

If we call the function with a new input we get a new result:

In [76]:
# Call the function add()

add(2)

2 if you add one 3

3

We can create different functions. For example, we can create a function that multiplies two numbers. The numbers will be represented by the variables a and b:

We can create different functions. For example, we can create a function that multiplies two numbers. The numbers will be represented by the variables a and b:

In [78]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

The same function can be used for different data types. For example, we can multiply two integers:

In [79]:
# Use mult() multiply two integers

Mult(2, 3)

6

Note how the function terminates at the  return  statement, while passing back a value. This value can be further assigned to a different variable as desired.

The same function can be used for different data types. For example, we can multiply two integers:

Two Floats:

In [80]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

We can even replicate a string by multiplying with an integer:

In [81]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

##### Variables

The input to a function is called a formal parameter.

A variable that is declared inside a function is called a local variable. The parameter only exists within the function (i.e. the point where the function starts and stops).

A variable that is declared outside a function definition is a global variable, and its value is accessible and modifiable throughout the program. We will discuss more about global variables at the end of the lab.

In [83]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

The labels are displayed in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsVar.png" width="500">

We can call the function with an input of 3:

In [85]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

We can call the function with an input of 2 in a different manner:

In [87]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

If there is no return statement, the function returns None. The following two functions are equivalent:

In [97]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [98]:
# See the output

MJ()

Michael Jackson

In [99]:
# See the output

MJ1()

Michael Jackson

Printing the function after a call reveals a None is the default return statement:

In [100]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

Create a function con that concatenates two strings using the addition operation:

In [101]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [102]:
# Test on the con() function

con("This ", "is")

'This is'

[Tip] How do I learn more about the pre-defined functions in Python? 
We will be introducing a variety of pre-defined functions to you as you learn more about Python. There are just too many functions, so there's no way we can teach them all in one sitting. But if you'd like to take a quick peek, here's a short reference card for some of the commonly-used pre-defined functions:

##### Functions Make Things Simple

Consider the two lines of code in Block 1 and Block 2: the procedure for each block is identical. The only thing that is different is the variable names and values.

**Block 1**

In [104]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

**Block 2**

In [105]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

We can replace the lines of code with a function. A function combines many instructions into a single line of code. Once a function is defined, it can be used repeatedly. You can invoke the same function many times in your program. You can save your function and use it in another program or use someone else’s function. The lines of code in code Block 1 and code Block 2 can be replaced by the following function:

In [106]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

This function takes two inputs, a and b, then applies several operations to return c. We simply define the function, replace the instructions with the function, and input the new values of a1, b1 and a2, b2 as inputs. The entire process is demonstrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/FuncsPros.gif" width="850">

Code **Blocks 1** and **Blocks 2** can now be replaced with code **Blocks 3** and code **Blocks 4**

**Blocks 3**

In [107]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

**Blocks 4**

In [108]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

#### Pre-defined functions

There are many pre-defined functions in Python, so let's start with the simple ones.

The **print()** function:

In [109]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

The **sum()** function adds all the elements in a list or tuple:

In [113]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

The **len()** function returns the length of a list or tuple:

In [111]:
# Show the length of the list or tuple

len(album_ratings)

8

#### Using if/else Statements and Loops in Functions

The return() function is particularly useful if you have any IF statements in the function, when you want your output to be dependent on some condition:

In [114]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

We can use a loop in a function. For example, we can print out each element in a list:

In [115]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [116]:
# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

#### String comparison in Functions

The relational operators compare the Unicode values of the characters of the strings from the zeroth index till the end of the string. It then returns a boolean value according to the operator used.

In [117]:
#Compare Two Strings Directly using in operator
# add string
string= "Michael Jackson is the best"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("Michael Jackson is the best")

'String matched'

This program uses a user-defined function named compareStrings() to compare two strings.

This function receives both strings as its argument and returns 1 if both strings are equal using == operator

In [118]:
#Compare two strings using == operator and function
def compareStrings(x, y):
# Use if else statement to compare x and y
    if x==y:
        return 1
    
# Declare two different variables as string1 and string2 and pass string in it
string1 = "Michael Jackson is the best"
string2 = "Michael Jackson is the best"

# Declare a variable to store result after comparing both the strings
check = compareStrings(string1, string2)

#Use if else statement to compare the string
if check==1:
    print("\nString Matched")
else:
    print("\nString not Matched")

String Matched

Count the Frequency of Words Appearing in a String Using a Dictionary.

Find the count of occurence of any word in our string using python. This is what we are going to do in this section, count the number of word in a given string and print it.

Lets suppose we have a ‘string’ and the ‘word’ and we need to find the count of occurence of this word in our string using python. This is what we are going to do in this section, count the number of word in a given string and print it.

The first thing, we will do is define a function and and then create a list that will be empty initially.

Next, we will add a code to convert the string to a list. Python string has a split() method. It takes a string and some separator to return a list.

Now we will declare an empty dictionary.

Next we will add code using for loop to iterate the words and value will will count the frequency of each words in the string and store them to the dictionary.

Finally we will print the dictionary.

In [119]:
# Python Program to Count words in a String using Dictionary
def freq(string):
    
    #step1: A list variable is declared and initialized to an empty list.
    words = []
    
    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()
    
    #step3: Declare a dictionary
    Dict = {}
    
    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
        
    #step5: Print the dictionary
    print("The Frequency of words is:",Dict)
    
#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

##### Setting default argument values in your custom functions

You can set a default value for arguments in your function. For example, in the isGoodRating() function, what if we wanted to create a threshold for what we consider to be a good rating? Perhaps by default, we should have a default rating of 4:

In [120]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [121]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

##### Global variables

So far, we've been creating variables within functions, but we have not discussed variables outside the function. These are called global variables.
Let's try to see what printer1 returns:

In [122]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
#printer1(internal_var1)

Michael Jackson is an artist

In [125]:
We got a Name Error: name 'internal_var' is not defined. Why?

It's because all the variables we create in the function is a local variable, meaning that the variable assignment does not persist outside the function.

But there is a way to create global variables from within a function as follows:

SyntaxError: unterminated string literal (detected at line 3) (3184174050.py, line 3)

In [124]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

##### Scope of a Variable

The scope of a variable is the part of that program where that variable is accessible. Variables that are declared outside of all function definitions, such as the myFavouriteBand variable in the code shown here, are accessible from anywhere within the program. As a result, such variables are said to have global scope, and are known as global variables. myFavouriteBand is a global variable, so it is accessible from within the getBandRating function, and we can use it to determine a band's rating. We can also use it outside of the function, such as when we pass it to the print function to display it:

In [127]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

Take a look at this modified version of our code. Now the myFavouriteBand variable is defined within the getBandRating function. A variable that is defined within a function is said to be a local variable of that function. That means that it is only accessible from within the function in which it is defined. Our getBandRating function will still work, because myFavouriteBand is still defined within the function. However, we can no longer print myFavouriteBand outside our function, because it is a local variable of our getBandRating function; it is only defined within the getBandRating function:

In [128]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0

NameError: name 'myFavouriteBand' is not defined

Finally, take a look at this example. We now have two myFavouriteBand variable definitions. The first one of these has a global scope, and the second of them is a local variable within the getBandRating function. Within the getBandRating function, the local variable takes precedence. Deep Purple will receive a rating of 10.0 when passed to the getBandRating function. However, outside of the getBandRating function, the getBandRating s local variable is not defined, so the myFavouriteBand variable we print is the global variable, which has a value of AC/DC:

In [129]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

##### Collections and Functions

When the number of arguments are unknown for a function, They can all be packed into a tuple as shown:

In [130]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

Similarly, The arguments can also be packed into a dictionary as shown:

In [131]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

Functions can be incredibly powerful and versatile. They can accept (and return) data types, objects and even other functions as arguements. Consider the example below:

In [132]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

Note how the changes made to the list are not limited to the functions scope. This occurs as it is the lists reference that is passed to the function - Any changes made are on the orignal instance of the list. Therefore, one should be cautious when passing mutable objects into functions.

In [133]:
# Come up with a function that divides the first input by the second input:
def div(a, b):
    return(a/b)

In [134]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the con function we defined before be used to add two integers or strings?

In [136]:
# Yes, for example: 
con(2, 9)

4

Can the con function we defined before be used to concatenate lists or tuples?

In [137]:
# Yes, for example: 
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]

Write a function code to find total count of word little in the given string: "Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"**

In [138]:
# Python Program to Count words in a String using Dictionary
def freq(string,passedkey):

    #step1: A list variable is declared and initialized to an empty list.
    words = []

    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()

    #step3: Declare a dictionary
    Dict = {}

    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        if(key == passedkey):
            Dict[key] = words.count(key)   
    #step5: Print the dictionary
    print("Total Count:",Dict)

#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go","little")

Total Count: {'little': 3}

## Exception Handling

What is an Exception? An exception is an error that occurs during the execution of code. This error causes the code to raise an exception and if not prepared to handle it will halt the execution of the code.

Examples

In [1]:
# ZeroDivisionError occurs when you try to divide by zero.
1/0

ZeroDivisionError: division by zero

In [2]:
# NameError -- in this case, it means that you tried to use the variable a when it was not defined.
a = [1, 2, 3]
a[10]

IndexError: list index out of range

There are many more exceptions that are built into Python, here is a list of them https://docs.python.org/3/library/exceptions.html

#### Exception Handling

In this section you will learn how to handle exceptions. You will understand how to make your program perform specified tasks instead of halting code execution when an exception is encountered

##### Try Except

A try except will allow you to execute code that might raise an exception and in the case of any exception or a specific one we can handle or catch the exception and execute specific code. This will allow us to continue the execution of our program even if there is an exception.

Python tries to execute the code in the try block. In this case if there is any exception raised by the code in the try block, it will be caught and the code block in the except block will be executed. After that, the code that comes after the try except will be executed.

In [3]:
# potential code before try catch

try:
    # code to try to execute
except:
    # code to execute if there is an exception
    
# code that will still execute if there is an exception

IndentationError: expected an indented block after 'try' statement on line 3 (4107979928.py, line 5)

In this example we are trying to divide a number given by the user, save the outcome in the variable a, and then we would like to print the result of the operation. When taking user input and dividing a number by it there are a couple of exceptions that can be raised. For example if we divide by zero. Try running the following block of code with b as a number. An exception will only be raised if b is zero.

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

##### Try Except Specific

A specific try except allows you to catch certain exceptions and also execute certain code depending on the exception. This is useful if you do not want to deal with some exceptions and the execution should halt. It can also help you find errors in your code that you might not be aware of. Furthermore, it can help you differentiate responses to different exceptions. In this case, the code after the try except might not run depending on the error.

Do not run, just to illustrate:

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except (ZeroDivisionError, NameError):
    # code to execute if there is an exception of the given types
    
# code that will execute if there is no exception or a one that we are handling

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
    
# code that will execute if there is no exception or a one that we are handling

You can also have an empty except at the end to catch an unexpected exception:

Do not run, just to illustrate:

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
    
# code that will execute if there is no exception or a one that we are handling

Try Except Specific Example

This is the same example as above, but now we will add differentiated messages depending on the exception, letting the user know what is wrong with the input.

In [ ]:
a = 1
​
try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Try Except Else and Finally

else allows one to check if there was no exception when executing the try block. This is useful when we want to execute something only if there were no errors.

do not run, just to illustrate

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
else:
    # code to execute if there is no exception
    
# code that will execute if there is no exception or a one that we are handling

finally allows us to always execute something even if there is an exception or not. This is usually used to signify the end of the try except.

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
else:
    # code to execute if there is no exception
finally:
    # code to execute at the end of the try except no matter what
    
# code that will execute if there is no exception or a one that we are handling

Try Except Else and Finally Example

You might have noticed that even if there is an error the value of a is always printed. Let's use the else and print the value of a only if there is no error.

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

Now lets let the user know that we are done processing their answer. Using the finally, let's add a print.

##### Exercise 1: Handling ZeroDivisionError

Imagine you have two numbers and want to determine what happens when you divide one number by the other. To do this, you need to create a Python function called safe_divide. You give this function two numbers, a 'numerator' and a 'denominator'. The 'numerator' is the number you want to divide, and the 'denominator' is the number you want to divide by. Use the user input method of Python to take the values.

The function should be able to do the division for you and give you the result. But here's the catch: if you try to divide by zero (which is not allowed in math), the function should be smart enough to catch that and tell you that it's not possible to divide by zero. Instead of showing an error, it should return None, which means 'nothing' or 'no value', and print "Error: Cannot divide by Zero.

Note:- Practice handling exceptions by trying different input types like using integers, strings, zero, negative values, or other data types.

Follow these: -

* Define a function to perform the division and use two arguments.
* Use the try-except block to handle ZeroDivisionError.
* Return the result of the division if no error occurs.
* Return None if division by zero occurs.
* take user input for numerator and denominator values.
* call and print your function with the user inputs.
**Note:- Test with different inputs to validate error handling.**

In [ ]:
def safe_divide(numerator,denominator):
    try:
        result = numerator / denominator
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero.")
        return None
# Test case
numerator=int(input("Enter the numerator value:-"))
denominator=int(input("Enter the denominator value:-"))
print(safe_divide(numerator,denominator))

##### Exercise 2: Handling ValueError

Imagine you have a number and want to calculate its square root. To do this, you need to create a Python function. You give this function one number, 'number1'.

The function should generate the square root value if you provide a positive integer or float value as input. However, the function should be clever enough to detect the mistake if you enter a negative value. It should kindly inform you with a message saying, 'Invalid input! Please enter a positive integer or a float value.

Follow these:-

* Define a function to perform square root of the argument. 
* Use try-except block for error handling.
* Use `sqrt()` function from the `math` package to calculate the square root. Catch ValueError and display the error message."
* Take user input of the value, number1. 
* Test with negative numbers to validate error handling.

Note:- Test with different inputs to validate error handling.

In [ ]:
import math

def perform_calculation(number1):
    try:
        result = math.sqrt(number1)
        print(f"Result: {result}")
    except ValueError:
        print("Error: Invalid input! Please enter a positive integer or a float value.")
# Test case
number1=float(input("Enter the number:-"))
perform_calculation(number1)

##### Exercise 3: Handling Generic Exceptions

Imagine you have a number and want to perform a complex mathematical task. The calculation requires dividing the value of the input argument "num" by the difference between "num" and 5, and the result has to be stored in a variable called "result".

You have to define a function so that it can perform that complex mathematical task. The function should handle any potential errors that occur during the calculation. To do this, you can use a try-except block. If any exception arises during the calculation, it should catch the error using the generic exception class "Exception" as "e". When an exception occurs, the function should display "An error occurred during calculation.

Follow these:-
* Define a function for the complex calculation and pass any argument.
* Use a try-except block for error handling.
* Perform the calculation and store the result in "result."
* Catch any exceptions using Exception as e.
* Display "An error occurred during calculation." when an exception is caught.
* take user input
* Call the defined function with the user input
**Note:- Test with different inputs to validate error handling.**

In [ ]:
def complex_calculation(num):
    try:
        result = num / (num - 5)
        print (f"Result: {result}")
    except Exception as e:
        print("An error occurred during calculation.")
# Test case
user_input = float(input("Enter a number: "))
complex_calculation(user_input)

In [2]:
class Graph():
    def __init__(self, id):
        self.id = id
        self.id = 80


val = Graph(200)
print(val.id)

80

In [3]:
class Vehicle:
    color = "white"


    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None


    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity


V1 = Vehicle(150, 25)

In [4]:
class Vehicle:
    color = "white"


    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None


    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity


V1 = Vehicle(150, 25)

## Introduction to Classes and Objects

Creating a Class

The first step in creating a class is giving it a name. In this notebook, we will create two classes: Circle and Rectangle. We need to determine all the data that make up that class, which we call attributes. Think about this step as creating a blue print that we will use to create objects. In figure 1 we see two classes, Circle and Rectangle. Each has their attributes, which are variables. The class Circle has the attribute radius and color, while the Rectangle class has the attribute height and width. Let’s use the visual examples of these shapes before we get to the code, as this will help you get accustomed to the vocabulary.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/ClassesClass.png" width="500">

*Figure 1: Classes circle and rectangle, and each has their own attributes. The class Circle has the attribute radius and colour, the class Rectangle has the attributes height and width.*

Instances of a Class: Objects and Attributes

An instance of an object is the realisation of a class, and in Figure 2 we see three instances of the class circle. We give each object a name: red circle, yellow circle, and green circle. Each object has different attributes, so let's focus on the color attribute for each object.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/ClassesObj.png" width="500">

*Figure 2: Three instances of the class Circle, or three objects of type Circle.*

The colour attribute for the red Circle is the colour red, for the green Circle object the colour attribute is green, and for the yellow Circle the colour attribute is yellow.

##### Methods

Methods give you a way to change or interact with the object; they are functions that interact with objects. For example, let’s say we would like to increase the radius of a circle by a specified amount. We can create a method called add_radius(r) that increases the radius by r. This is shown in figure 3, where after applying the method to the "orange circle object", the radius of the object increases accordingly. The “dot” notation means to apply the method to the object, which is essentially applying a function to the information in the object.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/ClassesMethod.png" width="500">

*Figure 3: Applying the method “add_radius” to the object orange circle object.*

##### Creating a Class

Now we are going to create a class Circle, but first, we are going to import a library to draw the objects:

In [3]:
# Import the library

%matplotlib inline

The first step in creating your own class is to use the class keyword, then the name of the class as shown in Figure 4. In this course the class parent will always be object:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/ClassesDefine.png" width="400">

*Figure 4: Creating a class Circle.*

The next step is a special method called a constructor __init__, which is used to initialize the object. The inputs are data attributes. The term self contains all the attributes in the set. For example the self.color gives the value of the attribute color and self.radius will give you the radius of the object. We also have the method add_radius() with the parameter r, the method adds the value of r to the attribute radius. To access the radius we use the syntax self.radius. The labeled syntax is summarized in Figure 5:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/ClassesCircle.png" width="600">

*Figure 5: Labeled syntax of the object circle.*

The actual object is shown below. We include the method drawCircle to display the image of a circle. We set the default radius to 3 and the default colour to blue:

In [46]:
# Create a class Circle

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)
    
    # Method
    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0, 0), radius=self.radius, fc=self.color))
        plt.axis('scaled')
        plt.show

##### Creating an instance of a class Circle

Let’s create the object RedCircle of type Circle to do the following:

In [7]:
%matplotlib inline

In [8]:
# Create an object RedCircle

RedCircle = Circle(10, 'red')
RedCircle

We can use the dir command to get a list of the object's methods. Many of them are default Python methods.

In [9]:
# Find out the methods can be used on the object RedCircle

dir(RedCircle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_radius',
 'color',
 'drawCircle',
 'radius']

We can look at the data attributes of the object:

In [10]:
# Print the object attribute radius

RedCircle.radius

10

In [11]:
# Print the object attribute color

RedCircle.color

'red'

We can change the object's data attributes:

In [12]:
# Set the object attribute radius

RedCircle.radius = 1
RedCircle.radius

1

We can draw the object by using the method drawCircle():

In [43]:
# Call the method drawCircle

RedCircle.drawCircle()
drawCircle

NameError: name 'plt' is not defined

We can increase the radius of the circle by applying the method add_radius(). Let's increases the radius by 2 and then by 5:

In [ ]:
# Use method to change the object attribute radius

print('Radius of object:',RedCircle.radius)
RedCircle.add_radius(2)
print('Radius of object of after applying the method add_radius(2):',RedCircle.radius)
RedCircle.add_radius(5)
print('Radius of object of after applying the method add_radius(5):',RedCircle.radius)

Let’s create a blue circle. As the default colour is blue, all we have to do is specify what the radius is:

In [ ]:
# Create a blue circle with a given radius

BlueCircle = Circle(radius=100)

As before, we can access the attributes of the instance of the class by using the dot notation:

In [ ]:
# Print the object attribute radius

BlueCircle.radius

In [ ]:
# Print the object attribute color

BlueCircle.color

We can draw the object by using the method drawCircle():

In [ ]:
# Call the method drawCircle

BlueCircle.drawCircle()

Compare the x and y axis of the figure to the figure for RedCircle; they are different.

#### The Rectangle Class

Let's create a class rectangle with the attributes of height, width, and color. We will only add the method to draw the rectangle object:

In [17]:
# Create a new Rectangle class for creating a rectangle object

class Rectangle(object):
    
    # Constructor
    def __init__(self, width=2, height=3, color='r'):
        self.height = height 
        self.width = width
        self.color = color
    
    # Method
    def drawRectangle(self):
        plt.gca().add_patch(plt.Rectangle((0, 0), self.width, self.height ,fc=self.color))
        plt.axis('scaled')
        plt.show()

In [47]:
%matplotlib inline

plt.plot([1,2,3],[4,5,6])

In [24]:
x = "Go" 
if x == "Go": 
    print('Go') 
else: 
    print('Stop') 
print('Mike')

Go
Mike

In [2]:
x = "Gone" 
if x == "Go": 
    print('Go') 
else: 
    print('Stop') 
print('Mike')

Stop
Mike

In [4]:
x = 1 
x = x > -5
x

True

In [5]:
x = 5 
while x != 2: 
    print(x) 
    x = x - 1

5
4
3

In [1]:
class Points(object): 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 
    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p1 = Points(1, 2) 
p1.print_point()

x= 1  y= 2

In [18]:
x = 0 
while x < 2: 
    print(x) 
    x = x + 1

0
1

In [6]:
for i, x in enumerate(['A', 'B', 'C']): 
    print(i + 1, x)

1 A
2 B
3 C

In [7]:
class Points(object): 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 
    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p2 = Points(1, 2) 
p2.x = 'A' 
p2.print_point()

x= A  y= 2

In [22]:
class Points(object): 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 
    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p2 = Points(1, 2) 
p2.x = 2 
p2.print_point()

x= 2  y= 2

In [35]:
# x is greater than 0
def step(x): 
    if x > 0: 
        y = 1 
    else: 
        y = 0 
    return y

In [37]:
# when will the following function return a value of 1? When x/the input is 0
def delta(x): 
    if x == 0: 
        y = 1 
    else: 
        y = 0 
    return y

In [38]:
a = 1 


def do(x): 
    return x + a 


print(do(1))

2

In [11]:
a = 1 


def do(x): 
    return x + a 


print(do(1))

2

In [30]:
for i, x in enumerate(['A', 'B', 'C']): 
    print(i, 2 * x)

0 AA
1 BB
2 CC

In [39]:
try:
    numerator = 10
    denominator = 0
    result = numerator / denominator
    print(result)
except ZeroDivisionError:
    print("Error: Denominator cannot be 0.")

Error: Denominator cannot be 0.

In [6]:
s = 'First line.\nSecond line.' # without print(), special characters are included in the string
s

'First line.\nSecond line.'

In [7]:
s = 'First line.\nSecond line.' # with print(), special characters are interpreted, so \n produces new line
print(s)

First line.
Second line.

In [8]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [10]:
# if you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. End of lines are automatically included in the string, but it’s possible to prevent this by adding a \ at the end of the line. The following example:

In [11]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

When a compound statement is entered interactively, it **must be followed by a blank line** to indicate completion (since the parser cannot guess when you have typed the last line). Note that each line within a basic block must be indented by the same amount.

In [8]:
# we can use Python for more complicated tasks than adding two and two together. For instance, we can write an initial sub-sequence of the Fibonacci series as follows:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 7:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5

In [14]:
# The keyword argument end can be used to avoid a new line after the output, or end the output with a different string:
a, b = 0, 1
while a < 500:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,

In [20]:
-3**2

-9

In [18]:
(-3)**2

9

In [23]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [24]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [31]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [39]:
"Isn't","they said."

("Isn't", 'they said.')

In [28]:
'"Yes," they said.'

'"Yes," they said.'

In [26]:
"\"Yes,\" they said."

'"Yes," they said.'

Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [40]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [42]:
# Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.
'Py' 'thon'

'Python'

In [43]:
# This feature is particularly useful when you want to break long strings:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [44]:
# This only works with two literals though, not with variables or expressions
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal
  File "<stdin>", line 1
    prefix 'thon'

SyntaxError: invalid syntax (1584773029.py, line 3)

In [46]:
# If you want to concatenate variables or a variable and a literal, use +:
prefix = 'Py'
prefix + 'thon'

'Python'

In [4]:
x = 5 
while x != 2: 
    print(x) 
    x = x - 1

5
4
3

In [5]:
class Points(object):
    def __init__(self, x, y):
        self.x = x 
        self.y = y 


    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p1 = Points("A", "B") 
p1.print_point()

x= A  y= B

In [11]:
class Points(object): 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 
    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p2 = Points(1, 2) 
p2.x = 2 
p2.print_point()

x= 2  y= 2

In [14]:
a = 1 


def do(x): 
    return x + a 


print(do(1))

2

In [1]:
-2

-2

In [2]:
2++2

4