# Data Science Tools and Ecosystem

In this notebook, I present my first data science graded project.

# Objectives:
* Use Markup Cells and Code Cells
* List popular languages for Data Science
* Create ordered and unordered lists
* Create a table
* Perform simple arithmetic expressions
* List some of the libraries commonly used by Data Scientists

An ordered list of some popular Data Science languages:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the libraries commonly used by Data Scientists include:
* Pandas
* NumPy
* SciPy
* Matplotlib
* TensorFlow

|Data Science Tools| 
|-------|
|IBM Watson Studio|
|Jupyter Labs|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# *This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [20]:
# *This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
WR Mugo